body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
    margin-bottom: 40px;
}

h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
}

form {
    background-color: white;
    padding: 20px 40px;
    width: 400px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

form p {
    margin-bottom: 40px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    margin-right: 20px;
}

input[type="file"] {
    padding: 10px;
    border: 2px solid #ccc;
    background: #fff;
    width: 100%;
}

/* Button styling */
button {
    display: block;
    padding: 12px 20px;
    border: none;
    background: #ff5670;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 100%;
}

button:hover {
    background: #e84963;
}
