{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'classifier/upload.css' %}">
    <title>Upload Strawberry Image</title>
</head>
<body>
    <h1>Strawberry Disease Classifier</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Upload a Strawberry Image for Classification</h2>
        {{ form.as_p }}
        <button type="submit">Predict</button>
    </form>
</body>
</html>